/*  Параметры страниц */
	body {background:white; font-size:12pt; color:DarkSlateGrey; font-family:Verdana}
/*  параметры абзацев */

textarea 
{
	width: 100%;
}
#div1
{
	/* width: 400px; */
  width:45%;
	height: 150px;
	border-left:1px solid #009999;
	border-top:1px solid #009999;
	border-bottom:1px solid #009999;
	background-color: #e3eb9c;
	padding: 4mm;
	margin-top: 5mm;
	margin-bottom: 5mm;
	margin-left: 5mm;
	float: left
}
#div7
{
	/* width: 390px; */
  width:45%;
	height: 150px;
	border-right: 1px solid #009999;
	border-top:1px solid #009999;
	border-bottom:1px solid #009999;
	background-color: #e3eb9c;
	padding: 4mm;
	margin-top: 5mm;
	margin-bottom: 5mm;
	margin-right: 5mm;
	float: left
}

#div2
{
	/* width: 350px; */
  width:45%;
	height: 250px;
	border: 1px solid #009999;
	background-color: #63be2e;
	padding: 4mm;
	margin: 5mm;
	float: left
}
#div3
{
	/* width: 400px; */
  width:45%;
	height: 250px;
	border: 1px solid #009999;
	background-color: #33CCCC;
	padding: 4mm;
	margin: 5mm;
	float: left
}

#div4
{
	width: 350px;
	height: 100px;
	border: 1px solid #009999;
	background-color: #9d85d4;
	padding: 4mm;
	margin: 5mm;
	float: left
}

#div5
{
	width: 400px;
	height: 100px;
	border: 1px solid #009999;
	background-color: #cee0e9;
	padding: 4mm;
	margin: 5mm;
	float: left
}
#div6
{
	width: 820px;
	height: 225px;
	border: 1px solid #009999;
	background-color: #bdb3d3;
	padding: 4mm;
	margin: 5mm;
	clear:both
}

