body
{
    margin:15px auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
}
p {margin: 0 0 20px 0;}
p, li {line-height: 20px;}

header
{
	width: 100%;
	border: 1px dotted black;
}
main
{
	width:auto;
	height:450px;
	border: 1px dotted green;
	margin:10px;
}
nav
{
	border: 1px dotted gray;
	margin:5px;
}
article

{
	border: 1px dotted purple;
	margin:5px;
}

#posts > .post > nav > ul  
{ 
     list-style: none; 
     margin: 0px; 
     padding: 15px; 
	 display: inline; 
} 

#sidebar > ul > li
{
	margin: 0 20px 0 0;
	padding: 0px; 
}

#posts 
{
	float:left; width: 70%;
	border: 1px dotted red;
	margin: 5px;
	padding:5px;
}

#posts aside 
{
	float:right; 
	font-size: 20px; 
	line-height: 40px; 
	margin-left: 5%; 
	margin-right:5%;
	width: 35%;
	border: 1px dotted yellow;
	padding:5px 0px 0px 5px;
}
#sidebar 
{
	float:left; width: 25%;
	border: 1px dotted red;
	margin: 5px;
	padding:5px;
}
#page_footer {
	position: absolute;
    bottom: 0;
	width:960px;
    height: 50px;}


footer
{
	display: block;
	unicode-bidi: isolate;
	border: 1px dotted blue;
	margin:5px;
}